
<div id="contenedor">
            
    <div id="contenedorcentrado">
        <div id="login">
            <form id="loginform">
                <label for="usuario">Correo Electronico</label>
                <input id="usuario" type="email" name="email" placeholder="Correo Electronico" required>
                <button type="submit" title="Enviar" name="Enviar">Enviar</button>
            </form>
            
        </div>
        <div id="derecho">
            
            <div class="logo-img">
                <img src="../../assets/logo_ULEAM.png">
            </div>
            <div class="titulo">
                RECUPERAR CONTRASEÑA
            </div>
            <hr>
            <div class="pie-form">
                <a routerLink="login">¿No tienes Cuenta? Registrate</a>
                <hr>
                <a routerLink="login">« Volver</a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>